DB_HOST=db
DB_USER=shimlar
DB_PASS=shimlar_secret
DB_NAME=shimlar_game
LOG_DIR=/var/log/shimlar

MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=shimlar_game
MYSQL_USER=shimlar
MYSQL_PASSWORD=shimlar_secret
